@charset "UTF-8";
@font-face {
  font-family: "apw";
  src: url("fonts/apw.eot?ssgxgx");
  src: url("fonts/apw.eot?ssgxgx#iefix") format("embedded-opentype"), url("fonts/apw.ttf?ssgxgx") format("truetype"), url("fonts/apw.woff?ssgxgx") format("woff"), url("fonts/apw.svg?ssgxgx#apw") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
.apw {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "apw" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.apw-home-outline:before {
  content: "\e901";
}

.apw-support-genix:before {
  content: "\e900";
}

.apw-bell:before {
  content: "\e91a";
}

.apw-align-center:before {
  content: "\e91b";
}

.apw-align-left:before {
  content: "\e91c";
}

.apw-align-right:before {
  content: "\e91d";
}

.apw-bag-alt:before {
  content: "\e91e";
}

.apw-bars:before {
  content: "\e91f";
}

.apw-bold:before {
  content: "\e920";
}

.apw-cog-solid:before {
  content: "\e921";
}

.apw-dots:before {
  content: "\e922";
}

.apw-filter:before {
  content: "\e924";
}

.apw-italic:before {
  content: "\e925";
}

.apw-link:before {
  content: "\e926";
}

.apw-lock-alt:before {
  content: "\e927";
}

.apw-paper-clip:before {
  content: "\e928";
}

.apw-paperclip-light:before {
  content: "\e929";
}

.apw-paperclip-reg:before {
  content: "\e92a";
}

.apw-paper-clip-sm:before {
  content: "\e92b";
}

.apw-paper-plane:before {
  content: "\e92c";
}

.apw-send:before {
  content: "\e933";
}

.apw-pencil-alt-5:before {
  content: "\e92e";
}

.apw-reload:before {
  content: "\e92f";
}

.apw-rounded-down:before {
  content: "\e930";
}

.apw-magnify:before {
  content: "\e932";
}

.apw-sign-out-alt:before {
  content: "\e934";
}

.apw-sliders-v:before {
  content: "\e935";
}

.apw-subscript:before {
  content: "\e936";
}

.apw-text:before {
  content: "\e937";
}

.apw-text-height:before {
  content: "\e938";
}

.apw-times:before {
  content: "\e939";
}

.apw-ui-delete:before {
  content: "\e93a";
}

.apw-ui-note:before {
  content: "\e93c";
}

.apw-ui-user:before {
  content: "\e93d";
}

.apw-underline:before {
  content: "\e93e";
}

.apw-user-bold:before {
  content: "\e93f";
}

.apw-plus:before {
  content: "\f067";
}

.apw-minus:before {
  content: "\f068";
}

.apw-search:before {
  content: "\f002";
}

.apw-inbox:before {
  content: "\f003";
}

.apw-star:before {
  content: "\f005";
}

.apw-grid:before {
  content: "\f009";
}

.apw-check:before {
  content: "\f00c";
}

.apw-close:before {
  content: "\f00d";
}

.apw-remove:before {
  content: "\f00d";
}

.apw-times1:before {
  content: "\f00d";
}

.apw-home:before {
  content: "\f015";
}

.apw-file-o:before {
  content: "\f016";
}

.apw-download:before {
  content: "\f019";
}

.apw-repeat:before {
  content: "\f01e";
}

.apw-rotate-right:before {
  content: "\f01e";
}

.apw-refresh:before {
  content: "\f021";
}

.apw-ui-lock:before {
  content: "\f023";
}

.apw-check-square-o:before {
  content: "\f046";
}

.apw-chevron-left:before {
  content: "\f053";
}

.apw-chevron-right:before {
  content: "\f054";
}

.apw-plus-circle:before {
  content: "\f055";
}

.apw-minus-circle:before {
  content: "\f056";
}

.apw-times-circle:before {
  content: "\f057";
}

.apw-check-circle:before {
  content: "\f058";
}

.apw-question-circle:before {
  content: "\f059";
}

.apw-info-circle:before {
  content: "\f05a";
}

.apw-times-circle-o:before {
  content: "\f05c";
}

.apw-check-circle-o:before {
  content: "\f05d";
}

.apw-ban:before {
  content: "\f05e";
}

.apw-expand:before {
  content: "\f065";
}

.apw-compress:before {
  content: "\f066";
}

.apw-eye:before {
  content: "\f06e";
}

.apw-eye-slash:before {
  content: "\f070";
}

.apw-comment:before {
  content: "\f075";
}

.apw-chevron-up:before {
  content: "\f077";
}

.apw-chevron-down:before {
  content: "\f078";
}

.apw-certificate:before {
  content: "\f0a3";
}

.apw-copy:before {
  content: "\f0c5";
}

.apw-files-o:before {
  content: "\f0c5";
}

.apw-floppy-o:before {
  content: "\f0c7";
}

.apw-save:before {
  content: "\f0c7";
}

.apw-magic:before {
  content: "\f0d0";
}

.apw-caret-down:before {
  content: "\f0d7";
}

.apw-caret-up:before {
  content: "\f0d8";
}

.apw-caret-left:before {
  content: "\f0d9";
}

.apw-caret-right:before {
  content: "\f0da";
}

.apw-angle-double-left:before {
  content: "\f100";
}

.apw-angle-double-right:before {
  content: "\f101";
}

.apw-angle-double-up:before {
  content: "\f102";
}

.apw-angle-double-down:before {
  content: "\f103";
}

.apw-angle-left:before {
  content: "\f104";
}

.apw-angle-right:before {
  content: "\f105";
}

.apw-angle-up:before {
  content: "\f106";
}

.apw-angle-down:before {
  content: "\f107";
}

.apw-circle-o:before {
  content: "\f10c";
}

.apw-chevron-circle-left:before {
  content: "\f137";
}

.apw-chevron-circle-right:before {
  content: "\f138";
}

.apw-chevron-circle-up:before {
  content: "\f139";
}

.apw-chevron-circle-down:before {
  content: "\f13a";
}

.apw-ui-unlock:before {
  content: "\f13e";
}

.apw-ellipsis-h:before {
  content: "\f141";
}

.apw-ellipsis-v:before {
  content: "\f142";
}

.apw-language:before {
  content: "\f1ab";
}

.apw-file-pdf:before {
  content: "\f1c1";
}

.apw-file-word:before {
  content: "\f1c2";
}

.apw-file-excel:before {
  content: "\f1c3";
}

.apw-file-powerpoint:before {
  content: "\f1c4";
}

.apw-file-archive:before {
  content: "\f1c6";
}

.apw-file-zip-o:before {
  content: "\f1c6";
}

.apw-file-movie:before {
  content: "\f1c8";
}

.apw-file-video-o:before {
  content: "\f1c8";
}

.apw-file-code:before {
  content: "\f1c9";
}

.apw-user-circle:before {
  content: "\f2bd";
}

.apw-user-circle-o:before {
  content: "\f2be";
}

.apw-user:before {
  content: "\f2c0";
}

#wp-admin-bar-support-genix .dashicons-apbd-support-genix::before {
  display: inline-block;
  margin-right: 5px;
}

.dashicons-apbd-support-genix::before {
  font-family: "apw";
  content: "\e900";
}

.apbd-notice-st1 {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: none !important;
  padding: 0 !important;
  -webkit-box-shadow: 0px 1px 10px -6px #000;
  -moz-box-shadow: 0px 1px 10px -6px #000;
  box-shadow: 0px 1px 10px -6px #000;
  margin-right: 15px;
  margin-top: 15px;
  display: flex;
  background: #0a246a;
  overflow: hidden;
}
.apbd-notice-st1 > div {
  padding: 15px;
  background: #fff;
}
.apbd-notice-st1 > div .apbd-nt-btn {
  white-space: nowrap;
  border: 1px solid #0a246a;
  background: #0a246a;
  color: #fff;
  padding: 5px 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 10px -5px #000;
  -moz-box-shadow: 0px 1px 10px -5px #000;
  box-shadow: 0px 1px 10px -5px #000;
  text-decoration: none;
}
.apbd-notice-st1 > div .apbd-nt-btn.btn-danger {
  background: #c33640;
  color: #fff;
}
.apbd-notice-st1 > div .apbd-nt-btn.btn-danger:hover {
  background: #ad313b;
}
.apbd-notice-st1 > div .apbd-nt-btn.btn-success {
  background: #4dc326;
  color: #fff;
}
.apbd-notice-st1 > div .apbd-nt-btn.btn-success:hover {
  background: #48b025;
}
.apbd-notice-st1 > div .apbd-nt-btn.btn-info {
  background: #13ced6;
  color: #fff;
}
.apbd-notice-st1 > div .apbd-nt-btn.btn-info:hover {
  background: #13acb4;
}
.apbd-notice-st1 > div .apbd-nt-btn:hover {
  background: #0a2159;
}
.apbd-notice-st1 .apbd-notice-title {
  background: #0a246a;
  position: relative;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  white-space: nowrap;
  padding-right: 22px;
  margin: auto;
  /* Important */
}
.apbd-notice-st1 .apbd-notice-title:after {
  content: "◆";
  width: 14px;
  height: 22px;
  position: absolute;
  right: -13px;
  color: #0a246a;
  font-size: 30px;
  top: 50%;
  margin-top: -10px;
  z-index: 2;
  overflow: hidden;
  transform: rotate(180deg);
}

/*# sourceMappingURL=all-css.css.map */
